In [1]:
# TA-Lib 설치 코드
url = 'https://anaconda.org/conda-forge/libta-lib/0.4.0/download/linux-64/libta-lib-0.4.0-h516909a_0.tar.bz2'
!curl -L $url | tar xj -C /usr/lib/x86_64-linux-gnu/ lib --strip-components=1
url = 'https://anaconda.org/conda-forge/ta-lib/0.4.19/download/linux-64/ta-lib-0.4.19-py37ha21ca33_2.tar.bz2'
!curl -L $url | tar xj -C /usr/local/lib/python3.7/dist-packages/ lib/python3.7/site-packages/talib --strip-components=3
import talib

# 야후 파이낸스설치
!pip install yfinance
import yfinance as yf

import pandas as pd
import numpy as np

  % Total    % Received % Xferd  Average Speed   Time    Time     Time  Current
                                 Dload  Upload   Total   Spent    Left  Speed
100  3733    0  3733    0     0  16372      0 --:--:-- --:--:-- --:--:-- 16301
100  503k  100  503k    0     0   826k      0 --:--:-- --:--:-- --:--:--  826k
  % Total    % Received % Xferd  Average Speed   Time    Time     Time  Current
                                 Dload  Upload   Total   Spent    Left  Speed
100  3741    0  3741    0     0  18428      0 --:--:-- --:--:-- --:--:-- 18428
100  406k  100  406k    0     0   727k      0 --:--:-- --:--:-- --:--:-- 1392k
Collecting yfinance
  Downloading yfinance-0.1.70-py2.py3-none-any.whl (26 kB)
Requirement already satisfied: multitasking>=0.0.7 in /usr/local/lib/python3.7/dist-packages (from yfinance) (0.0.10)
Requirement already satisfied: numpy>=1.15 in /usr/local/lib/python3.7/dist-packages (from yfinance) (1.19.5)
Collecting requests>=2.26
  Downloading requests-2.27.1-py2.py3-none-any.whl (63 kB)
     |████████████████████████████████| 63 kB 622 kB/s
Collecting lxml>=4.5.1
  Downloading lxml-4.7.1-cp37-cp37m-manylinux_2_17_x86_64.manylinux2014_x86_64.manylinux_2_24_x86_64.whl (6.4 MB)
     |████████████████████████████████| 6.4 MB 10.0 MB/s
Requirement already satisfied: pandas>=0.24.0 in /usr/local/lib/python3.7/dist-packages (from yfinance) (1.3.5)
Requirement already satisfied: pytz>=2017.3 in /usr/local/lib/python3.7/dist-packages (from pandas>=0.24.0->yfinance) (2018.9)
Requirement already satisfied: python-dateutil>=2.7.3 in /usr/local/lib/python3.7/dist-packages (from pandas>=0.24.0->yfinance) (2.8.2)
Requirement already satisfied: six>=1.5 in /usr/local/lib/python3.7/dist-packages (from python-dateutil>=2.7.3->pandas>=0.24.0->yfinance) (1.15.0)
Requirement already satisfied: certifi>=2017.4.17 in /usr/local/lib/python3.7/dist-packages (from requests>=2.26->yfinance) (2021.10.8)
Requirement already satisfied: idna<4,>=2.5 in /usr/local/lib/python3.7/dist-packages (from requests>=2.26->yfinance) (2.10)
Requirement already satisfied: charset-normalizer~=2.0.0 in /usr/local/lib/python3.7/dist-packages (from requests>=2.26->yfinance) (2.0.11)
Requirement already satisfied: urllib3<1.27,>=1.21.1 in /usr/local/lib/python3.7/dist-packages (from requests>=2.26->yfinance) (1.24.3)
Installing collected packages: requests, lxml, yfinance
  Attempting uninstall: requests
    Found existing installation: requests 2.23.0
    Uninstalling requests-2.23.0:
      Successfully uninstalled requests-2.23.0
  Attempting uninstall: lxml
    Found existing installation: lxml 4.2.6
    Uninstalling lxml-4.2.6:
      Successfully uninstalled lxml-4.2.6
ERROR: pip's dependency resolver does not currently take into account all the packages that are installed. This behaviour is the source of the following dependency conflicts.
google-colab 1.0.0 requires requests~=2.23.0, but you have requests 2.27.1 which is incompatible.
datascience 0.10.6 requires folium==0.2.1, but you have folium 0.8.3 which is incompatible.
Successfully installed lxml-4.7.1 requests-2.27.1 yfinance-0.1.70

In [2]:
# 네이버 데이터 불러오기
naver_df= df = yf.download('035720.KS',start = '2005-01-01') # 원하는 주식의 종목코드+.KS
sox_df = yf.download('^SOX', start = '2000-01-01')
vix_df = yf.download('^VIX', start = '2000-01-01')
snp500_df = yf.download('^GSPC', start = '2000-01-01')
kospi_df= yf.download('^KS11', start = '2000-01-01')

kospi_df.to_csv('kospi.csv')
naver_df.to_csv('naver.csv')
sox_df.to_csv('sox_df.csv')
vix_df.to_csv('vix_df.csv')
snp500_df.to_csv('s&p500.csv')

naver_df = pd.read_csv('naver.csv',index_col='Date', parse_dates=True)
sox_df = pd.read_csv('sox_df.csv', index_col = 'Date', parse_dates = True)
vix_df = pd.read_csv('vix_df.csv', index_col = 'Date', parse_dates = True)
snp500_df = pd.read_csv('s&p500.csv', index_col = 'Date', parse_dates = True)
kospi_df = pd.read_csv('kospi.csv', index_col = 'Date', parse_dates = True)

[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed

In [3]:
snp500_df = snp500_df.loc[:,['Close']].copy()
snp500_df.rename(columns={'Close':'S&P500'},inplace=True)
sox_df = sox_df.loc[:,['Close']].copy()
sox_df.rename(columns={'Close':'SOX'},inplace=True)
vix_df = vix_df.loc[:,['Close']].copy()
vix_df.rename(columns={'Close':'VIX'},inplace=True)


df = df.join(snp500_df,how='left')
df = df.join(sox_df,how='left')
df = df.join(vix_df,how='left')

In [4]:
kospi_df['KOSPI'] = kospi_df['Close'].copy()

In [5]:
kospi_df['kosATR'] = talib.ATR(kospi_df['High'], kospi_df['Low'], kospi_df['Close'], timeperiod=14)

kospi_df['kosADX14'] = talib.ADXR(kospi_df['High'], kospi_df['Low'], kospi_df['Close'], timeperiod=14)


kospi_df = kospi_df.drop(['Open','High','Low','Close','Adj Close','Volume'],axis=1)
df = df.join(kospi_df, how = 'left')

In [6]:
df

               Open     High      Low  ...        KOSPI     kosATR   kosADX14
Date                                   ...
2005-01-03   4700.0   4770.0   4650.0  ...   893.710022  12.755826  13.114406
2005-01-04   4760.0   4790.0   4580.0  ...   886.900024  12.591840  12.609550
2005-01-05   4600.0   4830.0   4550.0  ...   885.190002  12.672425  12.186528
2005-01-06   4820.0   5340.0   4720.0  ...   871.280029  12.840821  11.941418
2005-01-07   5080.0   5430.0   4980.0  ...   870.840027  12.792908  12.010606
...             ...      ...      ...  ...          ...        ...        ...
2022-02-04  85100.0  87500.0  84500.0  ...  2750.260010  50.192953  26.325412
2022-02-07  87300.0  88000.0  85000.0  ...  2745.060059  48.876314  26.825926
2022-02-08  88000.0  88000.0  88000.0  ...  2746.469971  49.180158  27.281226
2022-02-09  88000.0  88000.0  88000.0  ...  2768.850098  47.589426  27.863610
2022-02-10  86900.0  89400.0  86000.0  ...  2771.929932  46.083753  28.393015

[4249 rows x 12 columns]

In [7]:
# 기술지표 가공
df['log_return'] = np.log(1 + df['Adj Close'].pct_change())
df['CCI'] = talib.CCI(df['High'], df['Low'], df['Adj Close'], timeperiod=14)


#1.RA : Standard deviation rolling average
# Moving Average
df['MA10'] = talib.SMA(df['Close'],timeperiod=10)
df['MA60'] = talib.SMA(df['Close'],timeperiod=60)

df['MA60_volumne'] = talib.SMA(df['Volume'], timeperiod = 60)
df['RASD5'] = talib.SMA(talib.STDDEV(df['Close'], timeperiod=5, nbdev=1),timeperiod=5)
df['RASD10'] = talib.SMA(talib.STDDEV(df['Close'], timeperiod=5, nbdev=1),timeperiod=10)

#2.MACD : Moving Average Convergence/Divergence
macd, macdsignal, macdhist = talib.MACD(df['Close'], fastperiod=12, slowperiod=26, signalperiod=9)
df['MACD'] = macd 

# Momentum Indicators
#3.CCI : Commodity Channel Index

df['CCI60'] = talib.CCI(df['High'], df['Low'], df['Close'], timeperiod=60)
df['CCI60'] = talib.CCI(df['High'], df['Low'], df['Close'], timeperiod=90)
# Volatility Indicators 

#4.ATR : Average True Range
df['ATR14'] = talib.ATR(df['High'], df['Low'], df['Close'], timeperiod=14)

#7.MTM
df['MTM3'] = talib.MOM(df['Close'], timeperiod=3)

#8.ROC : Rate of change : ((price/prevPrice)-1)*100
df['ROC60'] = talib.ROC(df['Close'], timeperiod=60)
df['ROC90'] = talib.ROC(df['Close'], timeperiod=30)

#9.WPR : william percent range (Williams' %R)
df['WPR14'] = talib.WILLR(df['High'], df['Low'], df['Close'], timeperiod=14)

#10.ADXR
df['ADXR14'] = talib.ADXR(df['High'], df['Low'], df['Close'], timeperiod=14)

#11.ADX
df['ADX14'] = talib.ADX(df['High'], df['Low'], df['Close'], timeperiod=14)

In [8]:
df.head()

              Open    High     Low   Close  ...  ROC90  WPR14  ADXR14  ADX14
Date                                        ...
2005-01-03  4700.0  4770.0  4650.0  4750.0  ...    NaN    NaN     NaN    NaN
2005-01-04  4760.0  4790.0  4580.0  4650.0  ...    NaN    NaN     NaN    NaN
2005-01-05  4600.0  4830.0  4550.0  4780.0  ...    NaN    NaN     NaN    NaN
2005-01-06  4820.0  5340.0  4720.0  5080.0  ...    NaN    NaN     NaN    NaN
2005-01-07  5080.0  5430.0  4980.0  5060.0  ...    NaN    NaN     NaN    NaN

[5 rows x 28 columns]

In [9]:
df.to_csv('stock_data.csv')

In [10]:
df.info()

<class 'pandas.core.frame.DataFrame'>
DatetimeIndex: 4249 entries, 2005-01-03 to 2022-02-10
Data columns (total 28 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   Open          4249 non-null   float64
 1   High          4249 non-null   float64
 2   Low           4249 non-null   float64
 3   Close         4249 non-null   float64
 4   Adj Close     4249 non-null   float64
 5   Volume        4249 non-null   int64
 6   S&P500        4119 non-null   float64
 7   SOX           4119 non-null   float64
 8   VIX           4119 non-null   float64
 9   KOSPI         4226 non-null   float64
 10  kosATR        4226 non-null   float64
 11  kosADX14      4226 non-null   float64
 12  log_return    4248 non-null   float64
 13  CCI           4236 non-null   float64
 14  MA10          4240 non-null   float64
 15  MA60          4190 non-null   float64
 16  MA60_volumne  4190 non-null   float64
 17  RASD5         4241 non-null   float64
 18  RASD10        4236 non-null   float64
 19  MACD          4216 non-null   float64
 20  CCI60         4160 non-null   float64
 21  ATR14         4235 non-null   float64
 22  MTM3          4246 non-null   float64
 23  ROC60         4189 non-null   float64
 24  ROC90         4219 non-null   float64
 25  WPR14         4236 non-null   float64
 26  ADXR14        4209 non-null   float64
 27  ADX14         4222 non-null   float64
dtypes: float64(27), int64(1)
memory usage: 1.1 MB